body {
    font-family:'roboto', 'Raleway', 'sans-serif';
       color:#212121;
       font-style: normal;
       background-color: #FFFFFF;
       margin: 0;
       padding: 0;
       box-sizing:border-box;
       width: 1600px;
   }
   *{
    margin: 0;
    padding: 0;
   }
   .container{
    width: 1200px;
    padding: 0 15px;
   }
   .section {
    padding: 94px;
   }
   .header{
    width: 1600px;
    height: 80px;
    border-bottom: #ECECEC solid 1px;
   }
.header-contacts,
.nav {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    align-items: baseline;
    display: flex;
    align-items: center;
}
.new-class {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.header-contacts {
    justify-content: space-between;
}
li {
    list-style: none;
}
.link:hover,
.link:focus {
    color: #2196F3;
}
.link {
    text-decoration: none;
    letter-spacing: 0.02em;
    font-family: 'roboto';
    color: #212121;
}
.logo {
    color:#2196F3;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.studio,
.portfolio-header {
    margin-right: 46px;
}
.logo-header {
    color: #000000;
}
.header-mail,
.header-phone {
    color: #757575;
    line-height: 1.14;
}
.effective-for-business {
    background-color: #2F303A;
    min-height: 600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.btn-order-service {
    width: 200px;
    height: 50px;
}
.lorem {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.introduction {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    display: flex;
    margin-top: 80px;
    margin-right: 30px;
    margin-bottom: 10px;
}
h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.what-we-do {
    display:flex;
    justify-content: space-between;
}
.our-team {
    background: #F5F4FA;
}
.experts {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
}
.name-box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    height: 108px;
    align-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}
.footer-contacts {
    background-color: #2F303A;
    box-sizing: border-box;
}
.logo-footer {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding-left: 215px;
    display: flex;
}
.studio-footer {
    color: #FFFFFF
}
.address {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-left: 215px;
    display:flex;
    flex-direction: column;
}
.footer-mail,
.footer-phone {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 215px;
    display:flex;
    flex-direction: column;
}
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
    color:#2196F3;
}
.example {
    color:#212121;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;}
.example:hover,
.example:focus {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.flex-button {
    display:flex;
    justify-content: center;
}
.technoduck,
.poster-new-orlean-vs-golden-star,
.restaurant,
.project-prime,
.project-box,
.inspiration-has-no-borders,
.limited-edition,
.project-lab,
.growing-business {
    background: #FFFFFF;
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    color: #757575;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    display: flex;
}
.portfolio-images {
    display: flex;
}
.portfolio-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
