body {
    font-family: 'roboto', 'Raleway', 'sans-serif';
    color: #212121;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1600px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px;
}
.header {
    border-bottom: #ECECEC solid 1px;
}

.nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    display: flex;
    align-items: center;
    margin-right: 46px;
}

.new-class {
    padding: 24px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .studio-web{
    color: #2196F3;
}
.studio-web::after {
    content:"";
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    width: 53px;
    height: 4px;
    padding: 0;
    margin: 0;
    top: 46px;
    right: 0px;
    z-index: 1
}
.nav .portfolio-web{
    color: #2196F3;
}
.portfolio-web::after{
    content:"";
    position: absolute;
    background:#2196F3;
    border-radius: 2px;
    width: 58px;
    height: 4px;
    padding: 0;
    margin: 0;
    top:46px;
    right:0px;
    z-index: 1;
}
.header-contacts {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    display: flex;
    align-content: center;
    align-items: baseline;
}

li {
    list-style: none;
}

.link:hover,
.link:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196F3;
}

.link {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #212121;
}

.logo {
    color: #2196F3;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 47px;
    align-content: center;
}

.studio,
.portfolio-header {
    position: relative;
    margin-right: 46px;
}

.logo-header {
    color: #000000;
}

.header-mail,
.header-phone {
    color: #757575;
    line-height: 1.14;
}
.header-mail {
    margin-right: 30px;
}

.mail-envelope,
.number-phone {
    color: #757575;
    margin-right: 10px;
}
.link:hover .icon-header,
.link:focus .icon-header {
    fill:#2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effective-for-business {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../Images/background-zipped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
}

.btn-order-service {
    width: 200px;
    height: 50px;
    border: none;
}
.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.btn-close:hover .icon-btn-close,
.btn-close:focus .icon-btn-close {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2196F3;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.div-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 40px;
    padding-bottom: 2px;
    margin-bottom: 12px;
}
.modal-form{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.modal-label{
    position: relative;
    padding: 5px 40px;
    width: 448px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}
.modal-input{
    margin-top: 4px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.icons-modal{
    position:absolute;
    top: 35px;
    left: 55px;
}

.modal-comment {
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
}

.modal-comment::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.paragraph-modal-comment{
    margin-bottom: 4px;
}
.paragraph-regulations{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
.paragraph-regulations::before{
    content:"";
    display: inline-block;
    width: 16px;
    height:15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}
.input-policy-regulations:checked + .paragraph-regulations::before {
   background-color:#2196F3;
   border: none;
   background-image: url("../Images/checked.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 11px 8px;
}
.link-regulations{
    color:#2196F3;
}
.visually-hidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip:rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.btn-send {
    width: 200px;
    height:50px;
    border: none;
    border-radius: 4px;
    background-color: #2196F3;
    text-align:center;
    color:#FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.div-btn-send{
    display: flex;
    justify-content: center;
}

.icon-lorem{
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.lorem {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding-bottom: 0;
    margin: 0 auto;
}

.introduction {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: justify;
    display: flex;
    margin-bottom: 10px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;
}
.section-what-we-do {
    padding-top: 0;
}

.what-we-do {
    display: flex;
    justify-content: space-between;
}
.list-what-we-do{
    position: relative;
}
.description-what-we-do {
    position:absolute;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    line-height: 1.17;
    top:224px;
    left:0;
    padding-top: 27px;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}
.our-team {
    background: #F5F4FA;
    height: 708px;
}
.icons-team-media {
    margin-top: 16px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}
.social-media{
    background-size: contain;
    fill: #AFB1B8;
}
a .team-social-media{
    height: 44px;
    display: block;
}
.social-media:hover{
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    fill:#FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-media:focus .social-media{
    outline: none;
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    fill: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.experts {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:#757575;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.name-box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-content: center;
    margin: 0;
    padding: 0;
}
.experts-box {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}
.our-clients{
    display: flex;
    gap: 30px;
}
.icon-logo{
    fill:#AFB1B8;
    display: flex;
    justify-content: space-between;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width:170px;
    height: 92px;
}
.list-logo:hover svg,
.list-logo:focus svg {
    outline: none;
    fill:#2196F3;
    border-color:#2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts {
    background-color: #2F303A;
}
.footer-div{
    padding: 60px 15px;
    display: flex;
    justify-content: space-between;
}
.footer-address {
    padding-right: 70px;
}
.logo-footer {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    width: 145px;
    padding-bottom: 20px;
    display: flex;
    align-content: center;
}

.studio-footer {
    color: #FFFFFF;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer-mail,
.footer-phone {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 231px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heading-footer {
    padding-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#FFFFFF;
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-width: 44px;
    height: 44px;
    width: 44px;
}
.social-media-links{
    fill:#FFFFFF;
}
.footer-icons-list {
    display: flex;
    text-decoration: none;
    gap:10px;
}
.social-media-links:hover,
.social-media-links:focus {
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    fill: rgba(255, 255, 255, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe{
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.subscribe-input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;;
}
.subscribe-input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    padding-left: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.form-subscribe{
    display:flex;
    gap: 12px;
}
.icon-send{
    width: 24px;
    height: 24px;
    margin-left: 24px;
}

.section-portfolio-btn {
    padding-bottom: 50px;
}

.example {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    height: 38px;
    margin-right: 8px;
    box-shadow: none;
}
.all-btn{
    width: 121px;
}
.webs-btn {
    width: 93px;
}
.apps-btn {
    width: 114px;
}
.design-btn{
    width: 91px;
}
.marketing-btn {
    width: 121px;
}

.example:hover,
.example:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-button {
    display: flex;
    justify-content: center;
}
.section-portfolio-images {
    padding-top: 0;
}

.img-apps-and-webs {
    position: relative;
    background: #FFFFFF;
    text-decoration: none;
    width: 370px;
    height: 404px;
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    display: flex;
}

.img-apps-and-webs:hover,
.img-apps-and-webs:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-portfolio-text {
    margin-top: 4px;
}
.portfolio-animation{
    position: relative;
    overflow: hidden;
}
.img-apps-and-webs:hover .portfolio-animation-text{
    transform: translateX(0);
}
.portfolio-animation-text{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: ease-in-out;

}
.portfolio-animation-text > p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    line-height: 1.6;
    padding: 49px 45px 49px 24px;
}
.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-box {
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    height: 110px;
    padding: 20px 24px;
}
img{ 
    display: block;
}
.portfolio-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
