body {
    font-family: 'roboto', 'Raleway', 'sans-serif';
    color: #212121;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1600px;
}

* {
    margin: 0;
    padding: 0;
}




.page-header {
    border-bottom: #ECECEC solid 1px;
}

.page-header__nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    display: flex;
    align-items: center;
    margin-right: 46px;
}

.page-header__container {
    padding: 24px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header__nav .page-header--studio-highlight{
    color: #2196F3;
}
.page-header--studio-highlight::after {
    content:"";
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    width: 53px;
    height: 4px;
    padding: 0;
    margin: 0;
    top: 46px;
    right: 0px;
    z-index: 1
}
.page-header__nav .page-header--portfolio-highlight{
    color: #2196F3;
}
.page-header--portfolio-highlight::after {
    content:"";
    position: absolute;
    background:#2196F3;
    border-radius: 2px;
    width: 58px;
    height: 4px;
    padding: 0;
    margin: 0;
    top:46px;
    right:0px;
    z-index: 1;
}
.page-header__list--contacts {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    display: flex;
    align-content: center;
    align-items: baseline;
}

.page-header__link:hover,
.page-header__link:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196F3;
}

.page-header__link {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #212121;
}

.page-header--logo {
    color: #2196F3;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 47px;
    align-content: center;
}

.page-header--studio,
.page-header--portfolio {
    position: relative;
    margin-right: 46px;
}

.page-header__span--logo {
    color: #000000;
}

.page-header--mail,
.page-header--phone {
    color: #757575;
    line-height: 1.14;
}
.page-header--mail {
    margin-right: 30px;
}

.page-header__icon--mail,
.page-header__icon--phone {
    color: #757575;
    margin-right: 10px;
}
.page-header__link:hover .page-header__icon,
.page-header__link:focus .page-header__icon {
    fill:#2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* end-page header*/

.main-web {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../Images/background-zipped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-web__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
}

.main-web__btn {
    width: 200px;
    height: 50px;
    border: none;
}
/* end- main-web*/
.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.modal__btn-close:hover .modal__icon--close,
.modal__btn-close:focus .modal__icon--close {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2196F3;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal__div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 40px;
}
.heading--fourth{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.modal__form{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.modal__label{
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}
.modal__input{
    margin-top: 4px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal__icons{
    position:absolute;
    top: 29px;
    left: 15px;
}
.modal__input:focus,
.modal__comment:focus {
    border-color:#2196F3;
    outline:none;
}
.modal__input:focus-within ~ svg{
    fill:#2196F3;
}

.modal__comment {
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
}

.modal__comment::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__paragraph--regulations{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    white-space: nowrap;
}
.modal__paragraph--regulations::before{
    content:"";
    display: inline-block;
    width: 16px;
    height:15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    margin-left: 14px;
}
.modal--policy-regulations:checked + .modal__paragraph--regulations::before {
   background-color:#2196F3;
   border: none;
   background-image: url("../Images/checked.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 11px 8px;
}
.modal__link--regulations{
    color:#2196F3;
}

.modal__btn-send {
    width: 200px;
    height:50px;
    border: none;
    border-radius: 4px;
    background-color: #2196F3;
    text-align:center;
    color:#FFFFFF;
    margin-top: 30px;
    background: #2196F3;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal__div__btn-send{
    display: flex;
    justify-content: center;
}
/* end-modal*/
.cards--lorem__icon{
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.cards--lorem {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding-bottom: 0;
    margin: 0 auto;
}

.cards--lorem__introduction {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: justify;
    display: flex;
    margin-bottom: 10px;
}
/* end-cards--lorem*/
.heading--sec {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;
}
.demonstration {
    padding-top: 0;
}

.demonstration__cards {
    display: flex;
    justify-content: space-between;
}
.demonstration__list{
    position: relative;
}
.demonstration__description {
    position:absolute;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    line-height: 1.17;
    top:224px;
    left:0;
    padding-top: 27px;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}
/* end - demonstration*/
.team{
    background: #F5F4FA;
    height: 708px;
}
.team__icons__list {
    margin-top: 16px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}
.team__icon{
    background-size: contain;
    fill: #AFB1B8;
}
a .team__link{
    height: 44px;
    display: block;
}
.team__icon:hover{
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    fill:#FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:focus .team__icon{
    outline: none;
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    fill: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__cards {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:#757575;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.team__label {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-content: center;
    margin: 0;
    padding: 0;
}
.team__box{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}
/* end - team*/
.clients__list{
    display: flex;
    gap: 30px;
}
.clients__icon{
    fill:#AFB1B8;
    display: flex;
    justify-content: space-between;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width:170px;
    height: 92px;
}
.clients__link:hover svg,
.clients__link:focus svg {
    outline: none;
    fill:#2196F3;
    border-color:#2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*clients*/
.footer {
    background-color: #2F303A;
}
.footer__div{
    padding: 60px 15px;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    width: 145px;
    padding-bottom: 20px;
    display: flex;
    align-content: center;
}

.footer__studio {
    color: #FFFFFF;
}

.footer__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer__mail,
.footer__phone {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 231px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer__mail:hover,
.footer__mail:focus,
.footer__phone:hover,
.footer__phone:focus {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heading--third {
    padding-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#FFFFFF;
}

.footer__icon {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-width: 44px;
    height: 44px;
    width: 44px;
}
.footer__icon__link{
    fill:#FFFFFF;
}
.footer__icons-card {
    display: flex;
    text-decoration: none;
    gap: 10px;
}
.footer__icon__link:hover,
.footer__icon__link:focus {
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    outline: none;
    fill: rgba(255, 255, 255, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__btn--subscribe {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer__subscribe{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;;
}
.footer__subscribe:focus{
    border-color:#2196F3;
    outline:none;
}
.footer__subscribe::placeholder{
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer__form {
    display:flex;
    gap: 12px;
}
.footer__icon-send{
    width: 24px;
    height: 24px;
    margin-left: 24px;
}
/* end-footer*/
.portfolio-btn {
    padding-bottom: 50px;
}

.portfolio-btn__box {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    height: 38px;
    margin-right: 8px;
    box-shadow: none;
}
.portfolio-btn__box--all{
    width: 121px;
}
.portfolio-btn__box--webs {
    width: 93px;
}
.portfolio-btn__box--apps {
    width: 114px;
}
.portfolio-btn__box--design{
    width: 91px;
}
.portfolio-btn__box--marketing {
    width: 121px;
}

.portfolio-btn__box:hover,
.portfolio-btn__box:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn__cards {
    display: flex;
    justify-content: center;
}
.portfolio-img {
    padding-top: 0;
}

.portfolio-img__link {
    position: relative;
    background: #FFFFFF;
    text-decoration: none;
    width: 370px;
    height: 404px;
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    display: flex;
}

.portfolio-img__link:hover,
.portfolio-img__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img__label__div {
    margin-top: 4px;
}
.portfolio-img__box{
    position: relative;
    overflow: hidden;
}
.portfolio-img__link:hover .portfolio-img__text{
    transform: translateX(0);
}
.portfolio-img__text{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: ease-in-out;

}
.portfolio-img__text > p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    line-height: 1.6;
    padding: 49px 45px 49px 24px;
}
.portfolio-img__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-img__label {
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    height: 110px;
    padding: 20px 24px;
}

.portfolio-img__strong {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
