@import 'utils/variables';
@import 'utils/visually-hidden';

@import 'base/common';

@import 'components/backdrop';
@import 'components/btn';
@import 'components/container';
@import 'components/section';
@import 'components/logo';
@import 'components/heading';

@import 'layout/page-header';
@import 'layout/modal';
@import 'layout/main-web';
@import 'layout/cards-lorem';
@import 'layout/demonstration';
@import 'layout/team';
@import 'layout/clients';
@import 'layout/footer';

@import 'pages/portfolio'