$main-color: #FFFFFF;
$link-color: #2196F3;
$font-color: #212121;
$dark-color: #000000;
$sec-font-color: #757575;
$background-color: #2F303A;
$sec-background-color: #F5F4FA;
$icons-color: #AFB1B8;
$link-light-color: rgba(33, 150, 243, 0.9);
$footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-icon-color: rgba(255, 255, 255, 1);
$transparent-label-color: rgba(47, 48, 58, 0.8);
$third-background-color: rgba(47, 48, 58, 0.4);
$modal-btn-border-color: rgba(0, 0, 0, 0.1);
$comment-color: rgba(117, 117, 117, 0.5);
$shadow-fourth-color: rgba(0, 0, 0, 0.15);
$shadow-fifth-color: rgba(0, 0, 0, 0.08);
$shadow-sixth-color: rgba(0, 0, 0, 0.06);
$shadow-seventh-color: rgba(0, 0, 0, 0.16);
$icons-bacground-color: rgba(255, 255, 255, 0.1);
$shadow-background-color: rgba(0, 0, 0, 0.2);
$shadow-sec-color:rgba(0, 0, 0, 0.14);
$shadow-third-color: rgba(0, 0, 0, 0.12);
$header-border-color: #ECECEC;
$sub-border-color: rgba(255, 255, 255, 0.3);
$modal-border-color: rgba(33, 33, 33, 0.2);
$portfolio-box-color: #EEEEEE;
$main-font: 'Roboto';
$logo-font: 'Ralawey';
$second-font: 'Sans-serif';