$main-color: #FFFFFF;
$link-color: #2196F3;
$font-color: #212121;
$dark-color: #000000;
$sec-font-color: #757575;
$background-color: #2F303A;
$sec-background-color: #F5F4FA;
$icons-color: #AFB1B8;
$transparent-label-color: rgba(47, 48, 58, 0.8);
$third-background-color: rgba(47, 48, 58, 0.4);

$icons-bacground-color: rgba(255, 255, 255, 0.1);
$modal-background-color: rgba(0, 0, 0, 0.2);
$header-border-color: #ECECEC;
$sub-border-color: rgba(255, 255, 255, 0.3);
$modal-border-color: rgba(33, 33, 33, 0.2);
$portfolio-box-color: #EEEEEE;
$main-font: 'Roboto';
$logo-font: 'Ralawey';
$second-font: 'Sans-serif';