.portfolio-btn {
    padding-bottom: 50px;
}

.portfolio-btn__box {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    height: 38px;
    margin-right: 8px;
    box-shadow: none;
}

.portfolio-btn__box--all {
    width: 121px;
}

.portfolio-btn__box--webs {
    width: 93px;
}

.portfolio-btn__box--apps {
    width: 114px;
}

.portfolio-btn__box--design {
    width: 91px;
}

.portfolio-btn__box--marketing {
    width: 121px;
}

.portfolio-btn__box:hover,
.portfolio-btn__box:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn__cards {
    display: flex;
    justify-content: center;
}

.portfolio-img {
    padding-top: 0;
}

.portfolio-img__link {
    position: relative;
    background: #FFFFFF;
    text-decoration: none;
    width: 370px;
    height: 404px;
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    display: flex;
}

.portfolio-img__link:hover,
.portfolio-img__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img__label__div {
    margin-top: 4px;
}

.portfolio-img__box {
    position: relative;
    overflow: hidden;
}

.portfolio-img__link:hover .portfolio-img__text {
    transform: translateX(0);
}

.portfolio-img__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: ease-in-out;

}

.portfolio-img__text>p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    line-height: 1.6;
    padding: 49px 45px 49px 24px;
}

.portfolio-img__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-img__label {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    height: 110px;
    padding: 20px 24px;
}

.portfolio-img__strong {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}