.portfolio {
    &-btn {
        padding-bottom: 50px;

        &__box {
            color: $font-color;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.63;
            letter-spacing: 0.03em;
            text-align: center;
            background-color: $sec-background-color;
            border-radius: 4px;
            border: none;
            height: 38px;
            margin-right: 8px;
            box-shadow: none;

            &--all {
                width: 121px;
            }

            &--webs {
                width: 93px;
            }

            &--apps {
                width: 114px;
            }

            &--design {
                width: 91px;
            }

            &--marketing {
                width: 121px;
            }

            &:hover,
            &:focus {
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                cursor: pointer;
                color: $main-color;
                background: $link-color;
                box-shadow: 0px 3px 1px $modal-btn-border-color, 0px 1px 2px $shadow-fifth-color, 0px 2px 2px $shadow-third-color;
            }
        }

        &__cards {
            display: flex;
            justify-content: center;
        }
    }

    &-img {
        padding-top: 0;

        &__link {
            position: relative;
            background: $main-color;
            text-decoration: none;
            width: 370px;
            height: 404px;
            color: $sec-font-color;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
            display: flex;

            &:hover,
            &:focus {
                box-shadow: 0px 1px 1px $shadow-third-color, 0px 4px 4px $shadow-sixth-color, 1px 4px 6px $shadow-seventh-color;
                cursor: pointer;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

        &__label__div {
            margin-top: 4px;
        }

        &__box {
            position: relative;
            overflow: hidden;
        }

        &__link:hover &__text {
            transform: translateX(0);
        }

        &__text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $link-light-color;
            transform: translateY(100%);
            transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: ease-in-out;

            &>p {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.03em;
                color: $main-color;
                line-height: 1.6;
                padding: 49px 45px 49px 24px;
            }
        }

        &__grid {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__label {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $portfolio-box-color;
            border-right: 1px solid $portfolio-box-color;
            border-left: 1px solid $portfolio-box-color;
            height: 110px;
            padding: 20px 24px;
        }

        &__strong {
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: $font-color;
        }
    }
}