.cards--lorem {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $sec-font-color;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding-bottom: 0;
    margin: 0 auto;

    &__icon {
        background-color: $sec-background-color;
        border-radius: 4px;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
    }

    &__introduction {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $font-color;
        text-align: justify;
        display: flex;
        margin-bottom: 10px;
    }
}