.clients {
    &__list {
        display: flex;
        gap: 30px;
    }

    &__icon {
        fill: #AFB1B8;
        display: flex;
        justify-content: space-between;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
    }

    &__link:hover svg,
    &__link:focus svg {
        outline: none;
        fill: #2196F3;
        border-color: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}