.demonstration {
    padding-top: 0;


    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        position: relative;
    }

    &__description {
        position: absolute;
        display: flex;
        justify-content: center;
        color: $main-color;
        line-height: 1.17;
        top: 224px;
        left: 0;
        padding-top: 27px;
        background: rgba(47, 48, 58, 0.8);
        width: 100%;
        height: 70px;
    }
}