.footer {
    background-color: $background-color;
            &__logo {
                text-decoration: none;
                font-family: $logo-font;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                color: $link-color;
                width: 145px;
                padding-bottom: 20px;
                display: flex;
                align-content: center;
            }
    
            &__studio {
                color: $main-color;
            }

    &__div {
        padding: 60px 15px;
        display: flex;
        justify-content: space-between;
    }

    &__address {
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $main-color;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    &__mail,
    &__phone {
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        width: 231px;
        color: $footer-contact-color;
        padding-top: 9px;
        display: flex;
        flex-direction: column;
        align-content: center;
    
    &:hover,
    &:focus{
        color: $link-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


    &__icon {
        display: flex;
        flex-direction: row;
        background-color: $icons-bacground-color;
        border-radius: 50%;
        border-width: 44px;
        height: 44px;
        width: 44px;


        &__link {
            fill: $main-color;

            &:hover,
            &:focus {
                border-radius: 50%;
                border-width: 44px;
                background-color: $link-color;
                outline: none;
                fill: $footer-icon-color;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
                &-send {
                    width: 24px;
                    height: 24px;
                    margin-left: 24px;
                }
    }

    &__icons-card {
        display: flex;
        text-decoration: none;
        gap: 10px;
    }


    &__subscribe {
        width: 358px;
        height: 50px;
        border: 1px solid $sub-border-color;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $background-color;
        ;

        &:focus {
            border-color: $link-color;
            outline: none;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: $footer-contact-color;
        }
    }

    &__form {
        display: flex;
        gap: 12px;
    }

}