.main-web {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../Images/background-zipped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-web__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}



.main-web__btn {
    width: 200px;
    height: 50px;
    border: none;
}