.page-header {
    border-bottom: $header-border-color solid 1px;

    &__nav {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        display: flex;
        align-items: center;
        margin-right: 46px;

        & .page-header--studio-highlight {
            color: $link-color;
        }

        & .page-header--portfolio-highlight {
            color: $link-color;
        }
    }

    &__container {
        padding: 24px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    &--studio-highlight::after {
        content: "";
        position: absolute;
        background-color: $link-color;
        border-radius: 2px;
        width: 53px;
        height: 4px;
        padding: 0;
        margin: 0;
        top: 46px;
        right: 0px;
        z-index: 1
    }

    &--portfolio-highlight::after {
        content: "";
        position: absolute;
        background-color: $link-color;
        border-radius: 2px;
        width: 58px;
        height: 4px;
        padding: 0;
        margin: 0;
        top: 46px;
        right: 0px;
        z-index: 1;
    }

    &__list--contacts {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        display: flex;
        align-content: center;
        align-items: baseline;
    }


    &__link {
        text-decoration: none;
        letter-spacing: 0.02em;
        color: $font-color;

        &:hover,
        &:focus {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            color: $link-color;

            & .page-header__icon
            {
            fill: $link-color;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

&--logo {
    color: $link-color;
    font-family: $logo-font;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 47px;
    align-content: center;
}

&__span--logo {
    color: $dark-color;
}

&--studio,
&--portfolio {
    position: relative;
    margin-right: 46px;
}


&--mail,
&--phone {
    color: $sec-font-color;
    line-height: 1.14;
}

&--mail {
    margin-right: 30px;
}

&__icon--mail,
&__icon--phone {
    color: $sec-font-color;
    margin-right: 10px;
}
}