.team {
    background: #F5F4FA;
    height: 708px;
}

.team__icons__list {
    margin-top: 16px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}

.team__icon {
    background-size: contain;
    fill: #AFB1B8;
}

a .team__link {
    height: 44px;
    display: block;
}

.team__icon:hover {
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    fill: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:focus .team__icon {
    outline: none;
    border-radius: 50%;
    border-width: 44px;
    background-color: #2196F3;
    fill: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__cards {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.team__label {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-content: center;
    margin: 0;
    padding: 0;
}

.team__box {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}