.btn {
    background-color: $link-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $main-color;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
}
.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: $main-color;
    border: 1px solid $modal-btn-border-color;
    border-radius: 50%;
    cursor: pointer;

&:hover .modal__icon--close,
&:focus .modal__icon--close {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $link-color;
}}
.footer__btn--subscribe {
    width: 200px;
    height: 50px;
    background-color: $link-color;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}