@media screen and (max-width: 767px){
.heading--first {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: $main-color;
}
.heading--sec {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $font-color;
    padding-bottom: 50px;
}

.heading--third {
    padding-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
}

.heading--fourth {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .heading--first {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: $main-color;
    }
    .heading--sec {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: $font-color;
        padding-bottom: 50px;
    }
    
    .heading--third {
        padding-top: 12px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color;
    }
    
    .heading--fourth {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
    }
}
@media screen and (min-width: 1200px) {
    .heading--first {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: $main-color;
    }
    .heading--sec {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: $font-color;
        padding-bottom: 50px;
    }
    
    .heading--third {
        padding-top: 12px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color;
    }
    
    .heading--fourth {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
    }
}




/*.heading--first {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-color;
}
.heading--sec {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $font-color;
    padding-bottom: 50px;
}
.heading--third {
    padding-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
}
.heading--fourth {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}*/