body {
    font-family: $main-font, $logo-font, $second-font;
    color: $font-color;
    background-color: $main-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1600px;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height:auto;
}
@media screen and (max-width: 767px){
    body{
        width: 767px;
    }
}
@media screen and (min-width:768px) and (max-width: 1199px) {
    body {
        width: 1199px;
    }
}
@media screen and (min-width: 1200px) {
    body {
        width: 1600px;
    }
}