body {
    font-family: $main-font, $logo-font, $second-font;
    color: $font-color;
    background-color: $main-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1600px;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height:auto;
}